---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/products
    body:
      encoding: UTF-8
      string: '{"code":"palantir","name":"Palantir","description":"The Twitch of Istari
        folk","pricing_schema":{"price":42.42}}'
    headers:
      Authorization:
      - Basic YUZ6X2U2STFBNFJhN19kN3RiaC1GNVcwV3RRTGVfVWI5andGbW1JUVNVUTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Reset:
      - '1623075608'
      Rate-Limit-Remaining:
      - '117'
      Etag:
      - W/"2ee26db1b1cfe21ad9fd895c1fb07e88"
    body:
      encoding: UTF-8
      string: '{"product":{"id":156003,"name":"Palantir","code":"palantir","unit":null,"status":"active","description":"The
        Twitch of Istari folk","invoice":"always","created_at":"2021-06-07T11:19:09.000-03:00","updated_at":"2021-06-07T11:19:09.000-03:00","pricing_schema":{"id":462035,"short_format":"R$
        42,42","price":"42.42","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2021-06-07T11:19:09.000-03:00"},"metadata":{}}}'
  recorded_at: Mon, 07 Jun 2021 14:19:09 GMT
recorded_with: VCR 6.0.0
