---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/products?page=1&per_page=25&query=code=palantir&sort_by=created_at&sort_order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YUZ6X2U2STFBNFJhN19kN3RiaC1GNVcwV3RRTGVfVWI5andGbW1JUVNVUTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Reset:
      - '1623075608'
      Rate-Limit-Remaining:
      - '116'
      Total:
      - '1'
      Per-Page:
      - '25'
      Etag:
      - W/"6a7576474e4668a10986794bb699c0bd"
    body:
      encoding: UTF-8
      string: '{"products":[{"id":156003,"name":"Palantir","code":"palantir","unit":null,"status":"active","description":"The
        Twitch of Istari folk","invoice":"always","created_at":"2021-06-07T11:19:09.000-03:00","updated_at":"2021-06-07T11:19:09.000-03:00","pricing_schema":{"id":462035,"short_format":"R$
        42,42","price":"42.42","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2021-06-07T11:19:09.000-03:00"},"metadata":{}}]}'
  recorded_at: Mon, 07 Jun 2021 14:19:10 GMT
recorded_with: VCR 6.0.0
