---
http_interactions:
- request:
    method: delete
    uri: https://sandbox-app.vindi.com.br/api/v1/customers/1089424
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic YUZ6X2U2STFBNFJhN19kN3RiaC1GNVcwV3RRTGVfVWI5andGbW1JUVNVUTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Reset:
      - '1623070686'
      Rate-Limit-Remaining:
      - '112'
      Etag:
      - W/"5aaee1b3aba0add195d3c135106cb42d"
    body:
      encoding: UTF-8
      string: '{"customer":{"id":1089424,"name":"Saruamn The White","email":"sarumanthewhite@middlearth.io","registry_code":null,"code":"saruman","notes":null,"status":"archived","created_at":"2021-06-07T09:57:09.000-03:00","updated_at":"2021-06-07T09:57:10.000-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'
  recorded_at: Mon, 07 Jun 2021 12:57:10 GMT
recorded_with: VCR 6.0.0
