---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/customers
    body:
      encoding: UTF-8
      string: '{"code":"saruman","name":"Saruamn The White","email":"sarumanthewhite@middlearth.io"}'
    headers:
      Authorization:
      - Basic YUZ6X2U2STFBNFJhN19kN3RiaC1GNVcwV3RRTGVfVWI5andGbW1JUVNVUTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Reset:
      - '1623070686'
      Rate-Limit-Remaining:
      - '113'
      Etag:
      - W/"d261f05f829fb0a2e4c1f902e4f81851"
    body:
      encoding: UTF-8
      string: '{"customer":{"id":1089424,"name":"Saruamn The White","email":"sarumanthewhite@middlearth.io","registry_code":null,"code":"saruman","notes":null,"status":"inactive","created_at":"2021-06-07T09:57:09.000-03:00","updated_at":"2021-06-07T09:57:09.000-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'
  recorded_at: Mon, 07 Jun 2021 12:57:09 GMT
recorded_with: VCR 6.0.0
