---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/customers
    body:
      encoding: UTF-8
      string: '{"code":"gandalf","name":"Gandalf the Grey","email":"gandalf@middlearth.io"}'
    headers:
      Authorization:
      - Basic YUZ6X2U2STFBNFJhN19kN3RiaC1GNVcwV3RRTGVfVWI5andGbW1JUVNVUTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Reset:
      - '1623070686'
      Rate-Limit-Remaining:
      - '118'
      Etag:
      - W/"48d3eb836d0d09f10f30fd8b04a14f4e"
    body:
      encoding: UTF-8
      string: '{"customer":{"id":1089423,"name":"Gandalf the Grey","email":"gandalf@middlearth.io","registry_code":null,"code":"gandalf","notes":null,"status":"inactive","created_at":"2021-06-07T09:57:07.000-03:00","updated_at":"2021-06-07T09:57:07.000-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'
  recorded_at: Mon, 07 Jun 2021 12:57:07 GMT
recorded_with: VCR 6.0.0
