---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/customers?page=1&per_page=25&query=code=gandalf&sort_by=created_at&sort_order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YUZ6X2U2STFBNFJhN19kN3RiaC1GNVcwV3RRTGVfVWI5andGbW1JUVNVUTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Reset:
      - '1623070686'
      Rate-Limit-Remaining:
      - '115'
      Total:
      - '1'
      Per-Page:
      - '25'
      Etag:
      - W/"2852340ba7c332395e976dc3ba148f96"
    body:
      encoding: UTF-8
      string: '{"customers":[{"id":1089423,"name":"Gandalf the Grey","email":"gandalf@middlearth.io","registry_code":null,"code":"gandalf","notes":null,"status":"inactive","created_at":"2021-06-07T09:57:07.000-03:00","updated_at":"2021-06-07T09:57:07.000-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}]}'
  recorded_at: Mon, 07 Jun 2021 12:57:08 GMT
recorded_with: VCR 6.0.0
