---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/plans
    body:
      encoding: UTF-8
      string: '{"billing_trigger_type":"beginning_of_period","billing_trigger_day":0,"installments":1,"status":"active","code":"the-one-plan","name":"The
        One Plan","description":"The One Plan To Rule Them All","interval":"months","interval_count":1,"billing_cycles":null,"plan_items":[{"cycles":null,"product_id":156003}]}'
    headers:
      Authorization:
      - Basic YUZ6X2U2STFBNFJhN19kN3RiaC1GNVcwV3RRTGVfVWI5andGbW1JUVNVUTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Reset:
      - '1623089485'
      Rate-Limit-Remaining:
      - '118'
      Etag:
      - W/"63c9e83621e9e95473b6e1241907f3bb"
    body:
      encoding: UTF-8
      string: '{"plan":{"id":61396,"name":"The One Plan","interval":"months","interval_count":1,"billing_trigger_type":"beginning_of_period","billing_trigger_day":0,"billing_cycles":null,"code":"the-one-plan","description":"The
        One Plan To Rule Them All","status":"active","installments":1,"invoice_split":false,"interval_name":"Mensal","created_at":"2021-06-07T15:10:26.000-03:00","updated_at":"2021-06-07T15:10:26.000-03:00","plan_items":[{"id":62603,"product":{"id":156003,"name":"Palantir","code":"palantir","unit":null,"status":"active","description":"The
        Twitch of Istari folk","invoice":"always","created_at":"2021-06-07T11:19:09.000-03:00","updated_at":"2021-06-07T11:27:34.000-03:00","pricing_schema":{"id":462037,"short_format":"R$
        50,00","price":"50.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2021-06-07T11:27:34.000-03:00"},"metadata":{}},"pricing_schema":{"id":462037,"short_format":"R$
        50,00","price":"50.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2021-06-07T11:27:34.000-03:00"},"cycles":null,"created_at":"2021-06-07T15:10:26.000-03:00","updated_at":"2021-06-07T15:10:26.000-03:00"}],"metadata":{}}}'
  recorded_at: Mon, 07 Jun 2021 18:10:26 GMT
recorded_with: VCR 6.0.0
